exclude: "^docs/conf.py"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
      - id: mixed-line-ending
        args: ["--fix=auto"] # replace 'auto' with 'lf' to enforce Linux/Mac line endings or 'crlf' for Windows
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: ["--max-line-length=480", "--extend-ignore=E203,W503"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        args: [
            "--ignore-missing-imports",
            "--scripts-are-modules",
            "--disallow-incomplete-defs",
            "--no-implicit-optional",
            "--warn-unused-ignores",
            "--warn-redundant-casts",
            "--strict-equality",
            "--warn-unreachable",
            "--disallow-untyped-defs",
            "--disallow-untyped-calls",
            "--install-types",
            "--non-interactive",
            "--follow-imports=skip", # This is temporary until the mbi directory is not excluded
          ]
        exclude: ^src/synthcity/plugins/core/models/mbi/ # This is temporary until the mbi directory is fully typed
