autodoc
cloudpickle
lifelines
loguru
loguru
m2r2==0.3.1
m2r2
matplotlib
mistune<2.0.0
myst-parser
nbconvert==6.5.3
nbsphinx
numpy
optuna
pandas
Pillow==9.3.0
pydantic
pydantic
pyod
rdt
scikit-learn
scipy
seaborn
sphinx==4.3.1
sphinx-autopackagesummary
sphinx_gallery==0.10.1
sphinx_rtd_theme==1.0.0
sphinxcontrib-napoleon
sphinxemoji
torch
xgboost
