name: Tests Full Python - part 2

on:
  schedule:
    - cron: "4 8 * * 3"
  workflow_dispatch:

jobs:
  Library:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip" # caching pip dependencies
      - name: Install MacOS dependencies
        run: |
          brew install libomp
        if: ${{ matrix.os == 'macos-latest' }}
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          pip install -r prereq.txt
      - name: Limit OpenMP threads
        run: |
          echo "OMP_NUM_THREADS=2" >> $GITHUB_ENV
      - name: Test Core - slow part two
        timeout-minutes: 1000
        run: |
          pip install .[testing]
          pytest -vvvs --durations=50 -m "slow_2"
      - name: Test Core - fast
        timeout-minutes: 1000
        run: |
          pip install .[testing]
          pytest -vvvs --durations=50 -m "not slow"
      - name: Test GOGGLE
        run: |
          pip install .[testing,goggle]
          pytest -vvvs -k goggle --durations=50
