name: Tutorials

on:
  push:
    branches: [main, release]
  pull_request:
    types: [opened, synchronize, reopened]
  schedule:
    - cron:  '2 3 * * 4'


jobs:
  Tutorials:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: gautamkrishnar/keepalive-workflow@v1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip' # caching pip dependencies
      - name: Install MacOS dependencies
        run: |
            brew install libomp
        if: ${{ matrix.os == 'macos-latest' }}
      - name: Install dependencies
        run: |
            python -m pip install pip==23.0.1
            pip install -r prereq.txt

            pip install .[all]

            python -m pip install ipykernel
            python -m ipykernel install --user
      - name: Run the tutorials
        run: python tests/nb_eval.py --nb_dir tutorials/
